.results {
  position: absolute;
  min-width: min(100%, 30rem);
  padding: var(--space-m);
  border-radius: var(--space-xs);
  box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.75);
  background-color: var(--clr-neutral-100);
  text-align: center;
  inset: auto;
}

.singleResult {
  border-radius: var(--space-2xs);
  font-size: var(--step-0);
  font-weight: 700;
  letter-spacing: 1px;
}

.singleResult > div {
  display: inline-flex;
  justify-content: space-between;
  padding: var(--space-xs) var(--space-xs);
  border-radius: var(--space-2xs);
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-400);
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10rem;
  padding: var(--space-2xs) var(--space-2xs);
  border-radius: var(--space-2xs);
  background-color: var(--clr-primary-100);
  transition: background-color 250ms ease, color 250ms ease;
  font-size: var(--step-0);
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--clr-primary-400);
}

.buttonWrapper {
  display: flex;
  gap: var(--space-s);
}

.buttonWrapper > * {
  flex: 1;
}

.winner {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}
