.logo {
  display: grid;
  place-items: center;
  margin: 0 auto;
  margin-bottom: var(--space-2xl);
}

.form {
  padding: var(--space-m);
  border-radius: var(--space-xs);
  background-color: var(--clr-neutral-100);
  font-weight: 700;
  color: var(--clr-neutral-100);
}

.inputWrapperOuter {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: var(--space-s);
}

.inputWrapperInner {
  display: flex;
  flex: 1;
  align-items: center;
}

.input {
  position: absolute;
  opacity: 0;
  gap: var(--space-m);
}

.label {
  flex: 1;
  padding: var(--space-3xs) var(--space-m);
  border-radius: var(--space-m);
  background-color: var(--clr-primary-100);
  transition: background-color 250ms ease, color 250ms ease;
  font-size: var(--step-1);
  text-align: center;
  cursor: pointer;
}

.label:hover {
  background-color: var(--clr-primary-200);
}

.input:checked ~ .label {
  background-color: var(--clr-primary-400);
}

.inputWrapperInner:focus-within {
  outline: 2px dashed var(--clr-accent-100);
  outline-offset: 2px;
  border-radius: var(--space-m);
}
