.TokenButton {
  position: relative;
  display: grid;
  place-items: center;
  width: clamp(0.88rem, calc(-0.12rem + 5vw), 3.75rem);
  height: clamp(0.88rem, calc(-0.12rem + 5vw), 3.75rem);
  font-size: var(--step-2);
}

.TokenButton::after {
  content: "";
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: var(--clr-primary-400);
}

.TokenButton:disabled::after {
  opacity: 0;
}

.hidden {
  background-color: var(--clr-primary-400);
}

.shown {
  background-color: var(--clr-primary-200);
}

.found {
  background-color: var(--clr-accent-100);
}
